
:root{
    --primary:#3155e7;
    --primary-dark:#2045d6;
    --black:#010101;
    --gray-1:#788190;
    --gray-2:#d3d4db;
    --white:#ffffff;
    --body:#fefefe;
}
body{
    font-family:sans-serif;
    background-color: var(--body);
}
.btn{
    border-radius: 8px;
    
}
.log{
   font-weight:bolder;
   color: white;
}
.btn-primary,
.btn-outline-secondary{
    padding:12px 20px;
}
 .navbar .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 15px 18px;
 }
 .navbar{
    padding: 42px 0;
 }
 .nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--white);
 }
 .navbar a{
   
   color: var(--white);
}
 .navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--white);
 }

 section.hero{
    padding:85px 0;
    
 }
 section.hero{
    font-weight:800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black)
 }
 section.hro{
   padding:85px 0;
   font-weight:500;
    font-size: 40px;
    line-height: 73px;
    color: var(--black)
 }
 .buttons{
    padding-top: 70px;
 }
 .buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
 }
 section.setup{
    padding:287px,0;
 }
 section.hero p{
   font-family: sans-serif;
 }
 section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
 }
 section.setup .text-header p{
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    color: var(--black);
    padding:27px 0;
 }
 section.setup .icons{
    padding:27px 0 ;
 }
 #para{
   font-size: medium;
   font-family:Arial, Helvetica, sans-serif
 }


 section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    color:var(--black)
 }

 section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--gray-1);
    max-width: 248px;
    margin: 0 auto;
 }

 .section.information .text-information{
    padding: 134px 0;

 }

 section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color:var(--black);
 }

 selction.information.p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px;
 }

 section.information .info-1{
    padding:183px 0
 }

 footer{
    padding-top:279px;
    margin-bottom:44px
 }
 footer a{
    font-weight:bold;
    font-size: 14px;
    color:var(--black);
    line-height: 18px;

 }

 footer .copy{
    margin-top: 32px;
    font-size: 28px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;}
    
 @media (max-width-576px){
    section.hero,
    section.information,
    section.setup{
        text-align: center;
    }
    .button .btn{
        display: block;
        margin: 1rem 0;
    }

    .button .ms-3{
        margin-left: 0 !important;
    }

    

 }
